<!doctype html>
<html class="no-js" ng-app="myapp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ZCHQ88 GIT.IO用于制作展示自己的简历和作品">
    <meta name="keywords" content="简介 资料 应聘 zchq88 朱辰卿">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>zchq88个人主页</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/png" href="assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
    <header id="zchq88-top" class="am-g am-g-fixed am-topbaram-topbar ">
        <h1 class="am-topbar-brand"><a href="http://zchq88.github.io/">zchq88</a></h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="#">个人首页</a>
                </li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          个人作品 <span class="am-icon-caret-down"></span>
        </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">网页作品</li>
                        <li><a href="http://www.lhmj.org/">蓝海密剑</a>
                        </li>
                        <li><a href="http://analyse.kiiik.com/">增值服务中心</a>
                        </li>
                    </ul>
                </li>
                <li class=""><a href="../my-angularjs/my-angularjs.html">angularjs学习</a>
                </li>
            </ul>
            <div class="am-topbar-right">
                <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                    <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>其他 <span class="am-icon-caret-down"></span>
                    </button>
                    <ul class="am-dropdown-content">
                        <li><a href="#">都说了是其他了还点!（^-^）</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="zchq88-top">
        <div class="am-slider am-slider-default" data-am-flexslider>
            <ul class="am-slides">
                <li><img src="image/banner.jpg" />
                </li>
            </ul>
        </div>
        <div class="zchq88-profiles am-animation-scale-up">
            <img src="image/profiles.jpg" class="am-circle" width="100%" />
        </div>
        <div class="zchq88-header-info am-text-center">
            <h2>姓名：朱辰卿</br>Name：Jordan</br>ID：zchq88</h2>
            <p>WEB前段程序员，c#程序员，图像算法</p>
        </div>
    </div>
    <section class="am-g am-g-fixed">
        <!--边侧导航-begin-->
        <aside ng-controller="AsideNavController">
            <div class="am-u-md-3 ">
                <div class="am-panel-group am-hide-sm-only" id="asidenav" data-am-sticky>
                    <div class="am-panel am-panel-default" ng-repeat="x in naclinks">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#asidenav', target:'#{{x.id}}'}">
					{{x.title}}</h4>
                        </div>
                        <div id="{{x.id}}" class="am-panel-collapse am-collapse" ng-class="{'am-in': ($index==0)}">
                            <div class="am-panel-bd" ng-repeat="y in x.childlinks">
                                <a href="#{{y.href}}">{{y.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-panel-group am-show-sm-only">
                <ul class="am-list">
                    <li ng-repeat="y in naclinks[0].childlinks">
                        <a href="#{{y.href}}">{{y.title}}</a>
                    </li>
                </ul>
            </div>
        </aside>
        <!--边侧导航-end-->
        <section class="am-u-md-9">
            <div class="am-g" id="zchq88-div1">
                <h2 class="am-margin-left">个人简介</h2>
                <p class="am-u-sm-6"> <span class="am-icon-calendar"></span> 生日：1988/09/26</p>
                <p class="am-u-sm-6"> <span class="am-icon-home"></span> 地址：上海市闸北区彭浦新村</p>
                <p class="am-u-sm-6"> <span class="am-icon-envelope"></span> 邮箱：zchq88@aliyun.com</p>
                <p class="am-u-sm-6"> <span class="am-icon-globe"></span> 个人网页http://zchq88.github.io/</p>
            </div>
            <div class="am-g" id="zchq88-div2">
                <h2 class="am-margin-left">个人技能</h2>
                <div id="skill-chart" style="height:400px" data-am-scrollspy="{animation:'slide-right', repeat: false, delay: 300}"></div>
            </div>
            <div class="am-g" id="zchq88-div3">
                <h2 class="am-margin">个人经历</h2>
                <section class="zchq88-container zchq88-timeline">
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-text">
                            工作
                        </div>
                    </div>
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-img">
                            <span class="am-icon-home am-icon-lg"></span>
                        </div>

                        <div class="zchq88-timeline-content" data-am-scrollspy="{animation:'scale-up', repeat: false}">
                            <h2>东航金融</h2>
                            <ol>
                                <li><a href="http://www.lhmj.org/">蓝海密剑</a>项目，部分前段页面，首页数据获取展示。</li>
                                <li><a href="http://analyse.kiiik.com/">增值服务中心</a>项目，全部前段页面。参与项目方案讨论</li>
                            </ol>
                            <span class="zchq88-date">2014-11-16</span>
                        </div>
                    </div>
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-img">
                            <span class="am-icon-home am-icon-lg"></span>
                        </div>

                        <div class="zchq88-timeline-content" data-am-scrollspy="{animation:'scale-up', repeat: false}">
                            <h2>上海洪剑智能科技有限公司</h2>
                            <ol>
                                <li>用C语言完成韦根信号接口板开发。</li>
                                <li>主管工博会中远距离人脸识别和视频人脸检索识别演示项目。</li>
                                <li>完成了人脸识别更新算法，解决人脸识别更新人脸库的问题。</li>
                                <li>研发虚拟人防误识策略，减少误识率。</li>
                                <li>研发清晰度判断算法减少模糊照片带来的误识。</li>
                                <li>修改识别策略改善识别速度。</li>
                                <li>WPF重构项目完成界面改观和软件优化。</li>
                            </ol>
                            <span class="zchq88-date">2011-01-01</span>
                        </div>
                    </div>
                    <div class="zchq88-timeline-block"></div>
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-text">
                            教育
                        </div>
                    </div>
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-img">
                            <span class="am-icon-home am-icon-lg"></span>
                        </div>

                        <div class="zchq88-timeline-content" data-am-scrollspy="{animation:'scale-up', repeat: false}">
                            <h2>上海市应用技术学院</h2>
                            <ol>
                                <li>计算机工程专业。</li>
                                <li>拿过两次奖学金。</li>
                                <li>优秀毕业设计。</li>
                                <li>专业课和专业课课程设计几乎全部优秀。</li>
                            </ol>
                            <a href="/download/%E6%9C%B1%E8%BE%B0%E5%8D%BF%E6%88%90%E7%BB%A9.docx">个人成绩下载</a>
                            <span class="zchq88-date">2011-01-01</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="am-g" id="zchq88-div4">
                <h2 class="am-margin-left">自我评价</h2>
                <ol class="am-margin-left" data-am-scrollspy="{animation:'scale-up', repeat: false}">
                    <li>学习能力强，随时关注新的科技动态，并且在空余时间尝试提高自己的技能。</li>
                    <li>逻辑能力强，可以总体考虑整个项目架构，并会在技术上的提前探路了解，分析项目中的难点要点。做好总体架构。</li>
                    <li>阅读分析能力强，只要可以看到代码就会分析和修改，能快速找到需要修改的代码，并且分析写法利弊学会并在以后为己用。</li>
                    <li>知识面广，由于个人经历关系，在硬件，软件，机械方面都有一定的了解。时常关注科技动态和经常在空余时间帮助好友他们的问题，所以会在各方面都有一定的接触。</li>
                    <li>经历丰富，在高中获得上海市跆拳道教练证书，并在高中帮老师制作公开课视屏，自己在玩游戏的时候修改和破解游戏内容，曾修改文曲星中游戏。在高中开设班级论坛方便班级交流。用RPG制作大师制作自己高中的游戏。大学期间参加<a href="http://www.tudou.com/events/nokia/n97/">诺基亚互联网百万富翁</a>进入前20名。并在当年获取诺基亚游戏编程第一获得N95 8g。</li>
                </ol>
            </div>
        </section>
    </section>
    <footer class="am-footer zchq88-footer">
        <div class="am-g am-g-fixed">
            <div class="am-u-md-8">
                <h2>zchq88</h2>
                <ul>
                    <li><span class="am-icon-heart">&nbsp;参考、使用的项目：</span> | <a href="http://amazeui.org/">AmazeUI</a> | <a href="http://echarts.baidu.com/">ECharts</a>
                    </li>
                </ul>
                <p>© 2015 zchq88, Inc. Licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. Developed with <a href="http://blog.brackets.io/" target="_blank">Brackets</a>.</p>
            </div>
        </div>
    </footer>
    <div class="zchq88-toolbar">
        <a href="#zchq88-top" title="回到顶部" class="am-icon-btn am-icon-arrow-up am-active" id="amz-go-top"></a>
    </div>
    <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src="http://cdn.bootcss.com/angular.js/1.4.0-rc.1/angular.js"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script src="js/index.js"></script>
    <script src="js/skill-chart.js"></script>
</body>

</html>