<!doctype html>
<html class="no-js" ng-app="myapp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ZCHQ88 GIT.IO用于制作展示自己的简历和作品">
    <meta name="keywords" content="简介 资料 应聘 zchq88 朱辰卿">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>zchq88个人主页</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/png" href="assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

    <header id="zchq88-top">
        <div class="am-slider am-slider-default" data-am-flexslider>
            <ul class="am-slides">
                <li><img src="image/banner.jpg" />
                </li>
            </ul>
        </div>
        <div class="zchq88-profiles">
            <img src="image/profiles.jpg" class="am-circle" width="100%" />
        </div>
        <div class="zchq88-header-info am-text-center">
            <h2>姓名：朱辰卿</br>Name：Jordan</br>ID：zchq88</h2>
            <p>WEB前段程序员,c#程序员，图像算法</p>
        </div>
    </header>
    <section class="am-g am-g-fixed">
        <!--边侧导航-begin-->
        <aside ng-controller="AsideNavController">
            <div class="am-u-md-3 am-panel-group am-hide-sm-only" id="asidenav">
                <div class="am-panel am-panel-default" ng-repeat="x in naclinks" data-am-sticky>
                    <div class="am-panel-hd">
                        <h4 class="am-panel-title" data-am-collapse="{parent: '#asidenav', target:'#{{x.id}}'}">
					{{x.title}}</h4>
                    </div>
                    <div id="{{x.id}}" class="am-panel-collapse am-collapse {{x.class}}">
                        <div class="am-panel-bd {{y.class}}" ng-repeat="y in x.childlinks">
                            <a href="{{y.href}}">{{y.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-panel-group am-show-sm-only">
                <ul class="am-list">
                    <li ng-repeat="y in naclinks[0].childlinks">
                        <a href="{{y.href}}">{{y.title}}</a>
                    </li>
                </ul>
            </div>

            <!--边侧栏导航-->
            <!--<a href="#menu-offcan" class="am-icon-btn am-icon-bars am-show-sm-only zchq88-aside-button" data-am-offcanvas=""><span class="am-sr-only">侧栏导航</span></a>
            <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
                <div class="am-offcanvas" id="menu-offcan">
                    <div class="am-offcanvas-bar">
                        <div class="am-panel am-panel-default" ng-repeat="x in naclinks">
                            <div class="am-panel-hd ">
                                <h4 class="am-panel-title" data-am-collapse="{parent: '#asidenav', target:'#{{x.id}}'}">
							{{x.title}}</h4>
                            </div>
                            <div id="{{x.id}}" class="am-panel-collapse am-collapse {{x.class}}">
                                <div class="am-panel-bd {{y.class}}" ng-repeat="y in x.childlinks">
                                    <a href="{{y.href}}">{{y.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>-->
        </aside>
        <!--边侧导航-end-->
        <section class="am-u-md-9">
            <div class="am-g" id="zchq88-div1">
                <h2 class="am-margin-left">个人简介</h2>
                <p class="am-u-sm-6"> <span class="am-icon-calendar"></span> 生日：1988/09/26</p>
                <p class="am-u-sm-6"> <span class="am-icon-home"></span> 地址：上海市闸北区彭浦新村</p>
                <p class="am-u-sm-6"> <span class="am-icon-envelope"></span> 邮箱：zchq88@aliyun.com</p>
                <p class="am-u-sm-6"> <span class="am-icon-globe"></span> 个人网页http://zchq88.github.io/</p>
            </div>
            <div class="am-g" id="zchq88-div2">
                <h2 class="am-margin">个人经历</h2>
                <section class="zchq88-container zchq88-timeline">
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-text">
                            工作
                        </div>
                    </div>
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-img">
                            <span class="am-icon-home am-icon-lg"></span>
                        </div>

                        <div class="zchq88-timeline-content">
                            <h2>东航金融</h2>
                            <ol>
                                <li>蓝海密剑项目，部分前段页面，首页数据获取展示。</li>
                                <li>增值服务中心项目，全部前段页面。参与项目方案讨论</li>
                            </ol>
                            <a href="#">详细信息</a>
                            <span class="zchq88-date">2014-11-16</span>
                        </div>
                    </div>
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-img">
                            <span class="am-icon-home am-icon-lg"></span>
                        </div>

                        <div class="zchq88-timeline-content">
                            <h2>上海洪剑智能科技有限公司</h2>
                            <ol>
                                <li>用C语言完成韦根信号接口板开发。</li>
                                <li>主管工博会中远距离人脸识别和视频人脸检索识别演示项目。</li>
                                <li>完成了人脸识别更新算法，解决人脸识别更新人脸库的问题。</li>
                                <li>研发虚拟人防误识策略，减少误识率。</li>
                                <li>研发清晰度判断算法减少模糊照片带来的误识。</li>
                                <li>修改识别策略改善识别速度。</li>
                                <li>WPF重构项目完成界面改观和软件优化。</li>
                            </ol>
                            <a href="#">详细信息</a>
                            <span class="zchq88-date">2011-01-01</span>
                        </div>
                    </div>
                    <div class="zchq88-timeline-block">
                        <div class="zchq88-timeline-text">
                            教育
                        </div>
                    </div>
                </section>
            </div>
            <div class="am-g" id="zchq88-div3">
                <h2 class="am-margin-left">个人作品</h2>
            </div>
        </section>
    </section>
    <div class="zchq88-toolbar">
        <a href="#zchq88-top" title="回到顶部" class="am-icon-btn am-icon-arrow-up am-active" id="amz-go-top"></a>
    </div>
    <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src="http://cdn.bootcss.com/angular.js/1.4.0-rc.1/angular.js"></script>
    <script>
        /*滚动页内跳转*/
        $(document).ready(function () {
            $('a[href*=#zchq88-]').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var $target = $(this.hash);
                    $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
                    if ($target.length) {
                        var targetOffset = $target.offset().top;
                        $('html,body').animate({
                                scrollTop: targetOffset
                            },
                            1000);
                        return false;
                    }
                }
            });
        });

        var myapp = angular.module('myapp', []);
        myapp.run(function ($rootScope) {});
        myapp.controller(
            "AsideNavController",
            function ($scope, $http) {
                $scope.naclinks = [{
                    title: "目录",
                    id: "AsideNav1",
                    class: "am-in",
                    childlinks: [
                        {
                            href: "#zchq88-div1",
                            title: "个人简介"
        },
                        {
                            href: "#zchq88-div2",
                            title: "个人经历"
        },
                        {
                            href: "#zchq88-div3",
                            title: "个人作品"
        }, ]
     }];
            });
    </script>
</body>

</html>